{% extends 'main.html' %}
{% block content %}
<div class="container">
    <h1>Battle: {{ select_poke.name }} vs {{ opponent_poke.name }}</h1>
    
    <div>
        <img src="{{ select_poke.image_url }}" alt="{{ select_poke.name }}">
        <p>Здоровье: {{ select_poke.health }}</p>
        <p>Атака: {{ select_poke.attack }}</p>
        <h5 class="mt-3 mb-3">NOW HP: {{session['select_poke_health']}}</h5>
    </div>
    
    <div>
        <img src="{{ opponent_poke.image_url }}" alt="{{ opponent_poke.name }}">
        <p>Здоровье: {{ opponent_poke.health }}</p>
        <p>Атака: {{ opponent_poke.attack }}</p>
        <h5 class="mt-3 mb-3">NOW HP: {{session['opponent_poke_health']}}</h5>
    </div>
    
    <form action="/battle/round" method="post">
        <label for="select_number">Select a number (1-10):</label>
        <input type="number" id="select_number" name="select_number" min="1" max="10" required>
        <button type="submit">Сделать ход</button>
    </form>
    {% if not rounds_result %}
    <form action="{{url_for('fast_battle')}}" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <button class="button" type="submit">Enter</button>
        </div>
    </form>
                

    {% endif %}
    <h2>Round Results</h2>
    <ul>
        {% for round_result in rounds_result %}
            <li>Round {{ loop.index }}: 
                {% if round_result.winner_id == select_poke.id %}
                    {{ select_poke.name }} атакует
                {% elif round_result.winner_id == opponent_poke.id %}
                    {{ opponent_poke.name }} атакует
                {% else %}
                    Draw
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if winner %}
        <h2>Победитель: {{ select_poke.name if winner == select_poke.id else opponent_poke.name }}</h2>
    {% endif %}
    
    <a href="/">Вернуться к каталогу</a>
</div>

{% endblock %}