{% extends 'main.html' %}
{% block content %}
{{ super() }}
    <div class="container">
        <h1>Список покемонов</h1>
        <form action="/" method="get">
            <label for="search">Поиск покемонов:</label>
            <input type="text" name="search_string" value="{{ search_string }}" id="search" placeholder="Введите имя покемона...">
            <button type="submit">Поиск</button>
        </form>
        <div class="list">
            {% for pokemon in pokemons %}
                <div class="card">
                    <a href="{{url_for('pokemon_page', name=pokemon.name)}}">
                        <h2>{{ pokemon.name }}</h2>
                        <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
                    </a>
                    <p>Здоровье: {{ pokemon.health }}</p>
                    <p>Атака: {{ pokemon.attack }}</p>
                    <form action="/battle/{{ pokemon.name }}" target="_blank">
                        <button class="choose">Выбрать</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <ul>
            
        </ul>

        <div class="pagination">
            {% if page > 1 %}
                <a href="?page={{ page - 1 }}&limit={{ limit }}">Предыдущая</a>
            {% endif %}
            <span>Страница {{ page }}</span>
            <a href="?page={{ page + 1 }}&limit={{ limit }}">Следующая</a>
        </div>
    </div>
{% endblock %}