{% extends 'main.html' %}
{% block content %}
{{ super() }}
    <div class="container">
        <h1>{{poke.name}}</h1>
        <img src="{{poke.image_url}}" alt="{{poke.name}}">
        <p>Здоровье: {{poke.health}}</p>
        <p>Атака: {{poke.attack}}</p>
        <p>Species: {{ poke.species }}</p>
        <p>Gender: {{ poke.gender }}</p>
        <p>Color: {{ poke.color }}</p>
        <a href="/battle/{{ poke.name }}">Выбрать</a>
        <a href="/">Вернуться на главную</a>
    </div>
{% endblock %}