{% extends 'main.html' %}
{% block content %}
{{ super() }}
    <div class="container">
        <h1>{{poke.name}}</h1>
        <img src="{{poke.image_url}}" alt="{{poke.name}}">
        <p>Здоровье: {{poke.health}}</p>
        <p>Атака: {{poke.attack}}</p>
        <p>Species: {{ poke.species }}</p>
        <p>Gender: {{ poke.gender }}</p>
        <p>Color: {{ poke.color }}</p>
        <form class="choose" action="{{url_for('battle')}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="select_poke_id" value="{{poke.id}}">
            <button type="submit">Выбрать для боя</button>
        </form>
        <form class="choose" action="{{url_for('pokemon_page_save')}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="poke_id" value="{{poke.id}}">
            <button type="submit">Сохранить в файл</button>
        </form>
        <a href="/">Вернуться на главную</a>
    </div>
{% endblock %}