<!DOCTYPE html>
<html>
<head>
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ name }}</h1>
        <img src="{{ image_url }}" alt="{{ name }}">
        <p>Health: {{ health }}</p>
        <p>Attack: {{ attack }}</p>
        <p>Species: {{ species }}</p>
        <p>Gender: {{ gender }}</p>
        <p>Color: {{ color }}</p>
        <a href="/battle/{{ name }}">Выбрать</a>
        <a href="/">Back to Pokemons</a>
    </div>
</body>
</html>